.bookingContainer {
    width: 100%;
    height: fit-content;

    .title {
        color: #63E7C6;
        font-family: Imperial Script;
        font-size: 150px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        position: absolute;
        top: 70%;
        left: 20%;

        @media screen and (min-width: 1365px) {
            left: 10%;
            top: 60%;
        }

        @media screen and (min-width: 1920px) {
            left: 20%;
        }
    }

    .partBookingContainer {
        background-color: #111111;
        width: 100%;

        @media screen and (min-width: 1365px) {
            padding: 50px 15%;
        }

        @media screen and (min-width: 1920px) {
            padding: 50px 25%;
        }

        label {
            color: #fff;
        }

        .formBooking {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            .titleForm {
                margin: 40px 0px;
                color: #FFF;
                font-family: Crimson Text;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .mainForm {
                @media screen and (min-width: 1365px) {
                    margin-left: 371px;
                    width: 746px;
                }

                @media screen and (min-width: 1920px) {
                    margin-left: 371px;
                    width: 746px;
                }

                label {
                    color: #FFF;

                    font-family: Crimson Text;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                // input,select {
                //     background-color: #37363a;
                //     opacity: 0.7;
                //     color: #fff;

                //     &::placeholder {
                //         color: #fff;
                //     }
                // }

                // .anticon {
                //     color: aliceblue;
                // }

                .btnSubmit {
                    margin-left: 460px;
                    display: flex;
                    font-size: 29px;
                    height: 50px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    flex-shrink: 0;
                    border-radius: 50px;
                    border: 4px solid #000;
                    background: #4ED34C;
                }
            }
        }
    }
}