.Footer {
    width: 100%;
    height: 586px;
    position: relative;
    background: #232323;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Content {
        width: 1220.01px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .Header {
            width: 100%;
            display: flex;
            gap: 140px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #6C6D72;

            .headerFollow {
                display: flex;
                gap: 60px;

                .headerInfo {
                    display: flex;

                    .contentFT {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        width: 184px;
                        margin-left: 10px;

                        .textContent {
                            color: #FFF;
                            font-family: Poppins;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }

                        .textContentValue {
                            color: #FFF;
                            font-family: Inter;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }

            .headerItem {
                height: 40.83px;

                .headerLogo {
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span {
                        color: #FFF;
                        margin-left: 4px;
                        font-family: Montserrat;
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: normal;
                    }
                }
            }
        }

        .mainFooter {
            margin-top: 50px;
            display: flex;
            gap: 100px;
            padding-bottom: 100px;

            .partLeft {
                width: 43%;

                span {
                    max-width: 200px;
                    color: #FFF;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 220.187%;
                }
            }

            .partRight {
                width: 47%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;

                span {
                    color: #D3924C;
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }

                .fanpageForm {
                    .Fbavatar {
                        position: absolute;
                        bottom: 226px;
                        right: 767px;
                    }

                    .textForm {
                        position: absolute;
                        bottom: 268px;
                        right: 428px;
                        width: 300px;
                        display: flex;
                        gap: 6px;
                        flex-direction: column;

                        .name {
                            color: #FFF;
                            text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.90);
                            font-family: Poppins;
                            font-size: 28px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }

                        .follower {
                            color: #FFF;
                            text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.90);
                            font-family: Poppins;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                    }

                    .Followed {
                        position: absolute;
                         bottom: 155px;
                        right: 716px;
                    }
                }
            }
        }
    }

    .Rectangle68 {
        width: 595px;
        height: 265px;
        left: 972px;
        top: 258;
        position: absolute;
    }

    .Image98 {
        left: 1150;
        top: 205;
        position: absolute;
        color: #D3924C;
        font-size: 20;
        font-family: Poppins;
        font-weight: 600;
        word-wrap: break-word;
    }

    .FanpageFacebook {}

    .Rectangle70 {
        width: 120;
        height: 117;
        left: 1005;
        top: 283;
        position: absolute;
        border: 3px white solid
    }

    .Image114 {
        width: 170;
        height: 45;
        left: 1006;
        top: 458;
        position: absolute
    }

    .Fotofusion {
        left: 1145;
        top: 292;
        position: absolute;
        color: white;
        font-size: 28;
        font-family: Poppins;
        font-weight: 700;
        word-wrap: break-word
    }

    .KFollower {
        left: 1145;
        top: 329;
        position: absolute;
        color: white;
        font-size: 18;
        font-family: Poppins;
        font-weight: 400;
        word-wrap: break-word
    }

    .textFooter {
        width: 479;
        height: 176;
        left: 355;
        top: 216;
        position: absolute;
        color: white;
        font-size: 20;
        font-family: Inter;
        font-weight: 400;
        line-height: 44.04;
        word-wrap: break-word
    }
}